* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  color: #333;
}

.bg-green {
  background-color: green;
}
.bg-orange {
  background-color: orange;
}
.bg-red {
  background-color: red;
}
.bg-black {
  background: #333;
  color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
}
